body{
    background: black;    
}
.rCounter{
    text-align: center;
    background: black;
}
.rCounter div{
display: inline-block;
font-size: 80px;
line-height: 100px;
background: #101010;
color: white;
padding: 10px;
margin: 3px;
}

.botones{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botones button{
    margin: 10px;
    background: #101010;
    color: white;
    margin: 3px;

}
.noe{
    text-align: center;
    justify-content: center;
}